body{
    background-color: pink;
    background-image: url(../images/pigBG.jpg);
    background-repeat: none;
    background-position: 0%;
    background-size:25em;
    
}

.big
{
    margin: auto;
    width: 75%;
    background-color: rgb(255, 196, 205);
}

